@charset "utf-8";
*{margin: 0;padding: 0;}
a,a:link,a:active,a:hover,a:visited{text-decoration: none;color: #333;}
ol,ul,li{list-style: none;}

body{
    background-color: rgb(33, 33, 63);
    transition: all 0.5s;
}

#wrap{
    width: 100%;
    margin: 0 auto;
}

.bg_img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg_img.jpg);
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 1.0s;
}
.bg_img_show{
    opacity: 1;
}

.bgcolor--blue{
    background-color: lightblue;
}
.bgcolor--gray{
    background-color: lightgray;
}
.btns{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    /* outline: 1px solid white; */
}
/* .container{
    outline: 1px solid yellow;
} */
.btns_menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}
button{
    display: block;
    width: 250px;
    height: 80px;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    background-color: rgb(67, 68, 85);
    transition: all 0.4s;
}
button:hover{
    color: #333;
    background-color: #eee;
}